%layout-reset {
  -fx-margin: 0;
  -fx-padding: 0;
  -fx-border-insets: 0;
  -fx-border: none;
  -fx-border-radius: none;
}

%anchor-borders {
  .left {
    -fx-border-width: 0px 1px 0px 0px;
  }

  .right {
    -fx-border-width: 0px 0px 0px 1px;
  }

  .bottom {
    -fx-border-width: 1px 0px 0px 0px;
  }

  .top {
    -fx-border-width: 0px 0px 1px 0px;
  }
}
