.tree-view, .border-pane, .virtual-flow, .tab-pane {
  -fx-border-width: 0px;
  -fx-border-color: #ffffff;
  -fx-padding: 0px;
  -fx-focus-color: transparent;
  -fx-faint-focus-color: transparent;
}

.titled-pane > *.content {
  -fx-border-color: transparent;
}

root {
  -fx-background-insets: 0, 0 0 0 0;
}
