@import "_resets";
@import "_variables";

.workbench {
  @import "_workbench";
}

.dock {
  @import "_dock";
}


.menu-bar {
  -fx-padding: 0;
  -fx-border-width: 0px 0px 1px 0px;
  -fx-background-color: $bar-background-color;
  -fx-border-color: $bar-border-color;
}
